.login{
    &_left{
        background:linear-gradient(black, rgb(124, 121, 121));
        min-height: 100vh;
        padding: 0 !important;
    }
}
.img{
    &_logo{
        width: 100%;
        height: 100vh;
    }
}